/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

h1 {
  text-align: center;
}
.legend {
  display: block;
  background-color: white;
  min-width: 80px;
}

.legendColor {
  padding-left: 10px;
  display: inline-block;
  min-width: 50px;
  min-height: 10px;
}

.legendLabel {
  display: inline-block;
}